* {
  box-sizing: border-box;
}
.flex-row {
  flex-direction: row;
  display: flex;
}
.flex-col {
  flex-direction: column;
  display: flex;
}
.justify-start {
  justify-content: flex-start;
  display: flex;
}
.justify-center {
  justify-content: center;
  display: flex;
}
.justify-end {
  justify-content: flex-end;
  display: flex;
}
.justify-between {
  justify-content: space-between;
  display: flex;
}
.items-start {
  align-items: flex-start;
  display: flex;
}
.items-end {
  align-items: flex-end;
  display: flex;
}
.items-center {
  align-items: center;
  display: flex;
}
.no-shrink {
  flex-shrink: 0;
}
.user_mine {
  isolation: isolate;
  background-color: #fff;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
  min-height: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  .user_seal_group {
    z-index: 2;
    flex-direction: column;
    align-self: stretch;
    align-items: flex-start;
    width: auto;
    height: 506px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    position: relative;
    .user_seal_group_1 {
      isolation: isolate;
      background-color: #49b9ad;
      flex-direction: column;
      align-self: stretch;
      align-items: flex-start;
      width: auto;
      height: 387px;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      display: flex;
      position: relative;
      .user_flexcontainer {
        isolation: isolate;
        z-index: 1;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 176px;
        margin-top: 0;
        margin-left: 0;
        display: flex;
        position: relative;
        .user_the_navigation_bar_word_has_no_background {
          z-index: 1;
          flex-direction: column;
          align-self: stretch;
          align-items: flex-start;
          width: auto;
          height: 176px;
          margin-top: 0;
          margin-left: 0;
          margin-right: 0;
          display: flex;
          position: relative;
        }
        .user_text_12 {
          text-align: center;
          color: #fff;
          white-space: pre;
          z-index: 0;
          background-color: #37a095;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          width: 149px;
          height: 65px;
          margin-top: -76px;
          margin-left: auto;
          margin-right: 0;
          padding: 17px 26px;
          font-family: PingFangSC-Regular;
          font-size: 24px;
          font-weight: 400;
          line-height: 34px;
          display: flex;
          position: relative;
        }
      }
      .user_rectangle_6 {
        z-index: 0;
        background-color: #fff;
        border-radius: 20px 20px 0 0;
        flex-direction: row;
        align-self: stretch;
        align-items: flex-start;
        width: auto;
        height: 180px;
        margin-top: 21px;
        margin-left: 24px;
        margin-right: 24px;
        display: flex;
        position: relative;
        .user_avatar {
          width: 120px;
          height: 120px;
          margin-top: 29px;
          margin-left: 30px;
          position: relative;
        }
        .user_flexcontainer_1 {
          flex-direction: column;
          align-items: flex-start;
          width: 140px;
          height: 180px;
          margin-top: 0;
          margin-left: 30px;
          display: flex;
          position: relative;
          .user_text_13 {
            color: #1c2023;
            white-space: pre;
            margin-top: 39px;
            margin-left: 0;
            font-family: PingFang-SC-Bold;
            font-size: 32px;
            font-weight: 400;
            line-height: 45px;
            position: relative;
          }
          .user_doctor_s_label_1 {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            height: 42px;
            margin-top: 10px;
            margin-left: 0;
            display: flex;
            position: relative;
          }
        }
        .user_icon_40px_left_arrow_1 {
          width: 41px;
          height: 40px;
          margin-top: 69px;
          margin-left: 312px;
          position: relative;
        }
      }
    }
    .user_seal_group_2 {
      flex-direction: column;
      align-items: flex-start;
      width: auto;
      height: 134px;
      display: flex;
      position: absolute;
      top: auto;
      bottom: 0;
      left: 24px;
      right: 24px;
      .user_2 {
        background-color: #f8fffd;
        border-radius: 0 0 20px 20px;
        flex-direction: row;
        align-items: flex-start;
        width: auto;
        height: 134px;
        display: flex;
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        .user_team {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 289px;
          height: 68px;
          margin-top: 36px;
          margin-left: 62px;
          display: flex;
          position: relative;
          .user_edit_group_2 {
            flex-direction: row;
            flex-shrink: 0;
            justify-content: center;
            align-self: stretch;
            align-items: center;
            gap: 20px;
            width: 228px;
            display: flex;
            position: relative;
            .user_icon_40px_voice {
              flex-shrink: 0;
              width: 40px;
              height: 40px;
              margin: 0;
              position: relative;
            }
            .user_seal_group_3 {
              flex-direction: column;
              flex-shrink: 0;
              justify-content: center;
              align-items: flex-start;
              gap: 5px;
              width: 168px;
              height: 68px;
              display: flex;
              position: relative;
              .user_text_15 {
                color: #1c2023;
                white-space: pre;
                flex-shrink: 0;
                font-family: PingFang-SC-Bold;
                font-size: 22px;
                font-weight: 400;
                line-height: 31px;
              }
              .user_text_16 {
                color: #606972;
                white-space: pre;
                flex-shrink: 0;
                width: 100%;
                font-family: PingFang-SC-Regular;
                font-size: 24px;
                font-weight: 400;
                line-height: 34px;
              }
            }
          }
          .user_line_1 {
            background-color: #e3e4e5;
            flex-shrink: 0;
            width: 1px;
            height: 40px;
          }
        }
        .user_affiliated_organization {
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          width: 228px;
          margin-top: 36px;
          margin-left: 62px;
          display: flex;
          position: relative;
          .user_edit_group_2_1 {
            flex-direction: row;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            gap: 20px;
            width: 100%;
            height: 68px;
            display: flex;
            position: relative;
            .user_icon_40px_voice_1 {
              flex-shrink: 0;
              width: 40px;
              height: 40px;
              margin: 0;
              position: relative;
            }
            .user_seal_group_4 {
              flex-direction: column;
              flex-shrink: 0;
              justify-content: center;
              align-items: flex-start;
              gap: 5px;
              width: 168px;
              height: 68px;
              display: flex;
              position: relative;
              .user_text_17 {
                color: #1c2023;
                white-space: pre;
                flex-shrink: 0;
                font-family: PingFang-SC-Bold;
                font-size: 22px;
                font-weight: 400;
                line-height: 31px;
              }
              .user_text_18 {
                color: #606972;
                white-space: pre;
                flex-shrink: 0;
                width: 100%;
                font-family: PingFang-SC-Regular;
                font-size: 24px;
                font-weight: 400;
                line-height: 34px;
              }
            }
          }
        }
      }
    }
  }
  .user_main {
    z-index: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 702px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    .user_forms_personal_center,
    .user_forms_personal_central_backup,
    .user_forms_personal_center_backup_2,
    .user_forms_personal_center_backup_3,
    .user_forms_personal_center_backup_4 {
      isolation: isolate;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      width: 100%;
      height: 105px;
      display: flex;
      position: relative;
    }
  }
  .user_status_bar_icon_1 {
    z-index: 1;
    isolation: isolate;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    height: 166px;
    display: flex;
    position: absolute;
    top: auto;
    bottom: 0;
    left: -1px;
    right: -1px;
  }
}
