.form-container {
  padding: 20px;
  // background-color: #f9f9f9;
  border-radius: 10px;
  height: 100vh;
  position: relative;
  // border: 1px solid #000;
}

.form-item {
  display: flex;
  padding: 15px 0;
  align-items: center;
  border-bottom: 2px solid #f3f3f3;
  // border: 1px solid #000;
}

.label {
  flex: 0 0 30px;
  font-size: 1em;
  color: #333;
}

.input-group {
  margin-left: auto;
  display: flex;
  // 子元素右对齐
  justify-content: flex-end;
  align-items: center;
  // border: 1px solid #000;
}

.input {
  // flex的值为1，表示占据剩余空间；第一个0表示不缩放，第二个0表示不基于内容的大小，第三个表示不占据剩余空间，即固定大小
  flex: 0 0 150px;
  font-size: 1em;
  padding: 10px;
  margin: 0 10px 0 0;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.unit {
  flex: 0 0 40px;
  font-size: 1em;
  color: #666;
}

.add-more {
  margin: 40px 0;
  text-align: center;
}

.add-more-text {
  font-size: 1em;
  color: #28a745;
  cursor: pointer;
}

// bottom
.bottom-bar {
  position: absolute;
  width: 94%;
  bottom: 100px;
  // border: 1px solid #000;
}

.thumbnail {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  // border: 1px solid #000;
}

.image {
  width: 120px;
  height: 120px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  // overflow: hidden;
  // 设置背景图片放大填充
  background-size: contain;
  // background-position: center;
  // border: 1px solid #000;
}

.add-button {
  width: 100%;
  padding: 15px;
  background-color: #28a745;
  color: white;
  font-size: 1.2em;
  text-align: center;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}

.close-button {
  height: 30px;
  width: 30px;
  position: absolute;
  margin-left: -38px;
}

.tip{
  position: absolute;
  top: -30px;
}