.stackedLine {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  // Add the following styles
  position: relative;
  height: 480px;
  overflow: hidden;
}