.home-core {
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.title {
  font-size: 18px;
  color: #333;
}

.ai-scan {
}

.headPortrait-icon {
  // 设置边框
  border: 1px solid #ff0000;
}

.feature {
  border: 1px solid #000000;
  // width: 100%;
  //   margin-bottom: 20px;
  // pt是point的缩写，是一种长度单位，1pt=1/72in，1in=2.54cm，1cm=10mm
  // 1pt=0.3528mm 在显示器上
  // 让背景图片自动根据父元素的大小进行缩放
  // background-image: url('../../assets/ai-scan-background.png');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 12%;

  width: 46vw;
  height: 9vh;
  text-align: center;
}
